.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: dodgerblue;
  padding: 0.625rem;
  p {
    flex: 5;
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: white;
  }
}

.navbar-icon {
  width: 0.625rem;
  height: 0.625rem;
  display: inline-block;
}

// 返回按钮
.navbar-back {
  flex: 1;
  i {
    @extend .navbar-icon;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(-45deg);
  }
}

// 返回首页
.navbar-home {
  flex: 1;
}
