$black: rgba(0, 0, 0, .8);
$leftMenuBorder: orangeRed;
$font-family-sans-serif: 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif !default;
html, body {
  min-height: 100%;
  background-color: #f7f7f9;
}

a,
a:focus,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  color: $black;
  text-underline: none;
}

.navbar,
.list-group-item {
  border-radius: 0 !important;
  margin-bottom: 0;
}
