// 左边菜单
.leftmenu-container {
  min-height: 100%;
  background-color: #f7f7f9;
  //box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  padding-right: 0 !important;
  padding-left: 0 !important;
  .list-group {
    margin-bottom: 0;
  }
  .list-group > .list-group-item:first-of-type {
    border-top: none;
  }
}

.child-menus {
  display: none;
}

// 菜单选中时，左边菜单的展开与收起
.router-link-active > .child-menus {
  display: block;
  animation: showMenu 200ms linear;
  animation-fill-mode: forwards;
}

@keyframes showMenu {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.router-link-active .glyphicon-chevron-right {
  animation: open 100ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes open {
  to {
    transform: rotate(90deg);
  }
}
