.list-footer-container {
  text-align: center;
}

.list-footer-container:after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border-left: 2px solid #1e90ff;
  border-top: 2px solid #1e90ff;
  animation: rotate 500ms linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
