// 购买窗口
.dialog-container,
.dialog-content {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog-container {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 100;
  height: 100%;
  .dialog-content {
    background-color: white;
  }
}

// max-height: 100%;overflow-y: scroll;
//在android手机上显示弹窗时页面要求无法滚动，
//若弹出层有表单填写的需求，且表单input比较多时会导致表单被顶出屏幕，且无法滚动（因为禁用了页面滚动）。
//若此时需要能滚动填写，则需要在dialog-content上添加以上两句css属性，用以表单区域滚动
.disable-scroll-click {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dialog-enter {
  animation: dialog-enter 100ms linear;
}

.dialog-leave {
  animation: dialog-leave 200ms linear;
}

@keyframes dialog-enter {
  from {
    opacity: 0;
  }
}

@keyframes dialog-leave {
  to {
    opacity: 0;
  }
}

// 内部动画
.dialog-content-enter {
  animation: dialog-content-enter 150ms linear;
}

.dialog-content-leave {
  animation: dialog-content-leave 150ms linear;
}

@keyframes dialog-content-enter {
  from {
    opacity: 0.2;
    bottom: -100%;
  }
}

@keyframes dialog-content-leave {
  to {
    bottom: -100%;
    opacity: 0;
  }
}
